In [22]:
# 파일을 순차적으로 불러오기
# 월별 승하차 인원 합계 구하기
# 월별로 데이터 셋으로 만들기 
# 월별 데이터셋 하나로 합치기
# csv 파일로 만들기

In [23]:
import pandas as pd

In [24]:
# 2020년 4월까지 인코딩이 ANSI
# 2020년 5월부터 8월까지 UTF-8(ROM)
# 2020년 9월 ANSI
# 2020년 10월 UTF-8(ROM)
# csv 파일 인코딩을 메모장으로 변경

#2021년은 8월까지만 파일 존재

# 파일 불러와 년도 별 승차, 하차 각각 월별 총 승객수 리스트로 만들기
sub_in_month = []
sub_out_month = []

for y in range(15, 20):
    for i in range(1,13):
        tmp_csv = pd.read_csv(f'./20{y}/CARD_SUBWAY_MONTH_20{y}{i:0>2}.csv', encoding='cp949')
        tmp_sum1 = tmp_csv['승차총승객수'].sum()
        tmp_sum2 = tmp_csv['하차총승객수'].sum()
        sub_in_month.append(tmp_sum1)
        sub_out_month.append(tmp_sum2)

for i in range(1,13):
    tmp_csv = pd.read_csv(f'./2020/CARD_SUBWAY_MONTH_2020{i:0>2}.csv', encoding='utf-8')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month.append(tmp_sum1)
    sub_out_month.append(tmp_sum2)

for i in range(1,9):
    tmp_csv = pd.read_csv(f'./2021/CARD_SUBWAY_MONTH_2021{i:0>2}.csv', encoding='utf-8')
    tmp_sum1 = tmp_csv['승차총승객수'].sum()
    tmp_sum2 = tmp_csv['하차총승객수'].sum()
    sub_in_month.append(tmp_sum1)
    sub_out_month.append(tmp_sum2)
        
print(len(sub_in_month))
print(len(sub_out_month))
sub_in_month

80
80

[437278792,
 376783122,
 478541350,
 236022558.0,
 234296965.0,
 203119706.0,
 218172679.0,
 210102718.0,
 214486255.0,
 234349102.0,
 223497154.0,
 233155014.0,
 209273211.0,
 193647156.0,
 236377700.0,
 228348725.0,
 234166653.0,
 222611572.0,
 219465787.0,
 214193213.0,
 210698312.0,
 229681635.0,
 228122715.0,
 231777262.0,
 205502324.0,
 204936457.0,
 237179303.0,
 227780690.0,
 227836340.0,
 221308605.0,
 214815271.0,
 213776584.0,
 228240103.0,
 208204249.0,
 228254078.0,
 228619448.0,
 213710722.0,
 189110822.0,
 235296346.0,
 228971702.0,
 235253127.0,
 219426719.0,
 221632774.0,
 214216200.0,
 208561416.0,
 235739024.0,
 232960426.0,
 227834001.0,
 221848014.0,
 190335812.0,
 233813277.0,
 235928571.0,
 243338053.0,
 221547039.0,
 229254848.0,
 219672653.0,
 214006728.0,
 240101848.0,
 232284482.0,
 234574904.0,
 207743593.0,
 169582542.0,
 139686779.0,
 149118804.0,
 164531970,
 171605690,
 183490485,
 152989131,
 144602055,
 169231365,
 171847194,
 139666561,
 142178674,
 142994483,
 179109500,
 177677244,
 174157717,
 179060211,
 159645605,
 152911075]

In [25]:
all_sub_month = {'승차총승객수':sub_in_month, '하차총승객수':sub_out_month}
index = ['2015-01', '2015-02', '2015-03', '2015-04', '2015-05', '2015-06',
         '2015-07', '2015-08', '2015-09', '2015-10', '2015-11', '2015-12',
         '2016-01', '2016-02', '2016-03', '2016-04', '2016-05', '2016-06',
         '2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12',
         '2017-01', '2017-02', '2017-03', '2017-04', '2017-05', '2017-06',
         '2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
         '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
         '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12',
         '2019-01', '2019-02', '2019-03', '2019-04', '2019-05', '2019-06',
         '2019-07', '2019-08', '2019-09', '2019-10', '2019-11', '2019-12',
         '2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '202006',
         '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12',
         '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06',
         '2021-07', '2021-08'
        ]
sub_month_dat = pd.DataFrame(all_sub_month, index=index)
sub_month_dat

              승차총승객수        하차총승객수
2015-01  437278792.0  4.350668e+08
2015-02  376783122.0  3.748843e+08
2015-03  478541350.0  4.764516e+08
2015-04  236022558.0  2.348989e+08
2015-05  234296965.0  2.331702e+08
...              ...           ...
2021-04  177677244.0  3.646163e+11
2021-05  174157717.0  3.765625e+11
2021-06  179060211.0  3.644986e+11
2021-07  159645605.0  3.765662e+11
2021-08  152911075.0  3.766894e+11

[80 rows x 2 columns]

In [26]:
sub_month_dat.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 2015-01 to 2021-08
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   승차총승객수  80 non-null     float64
 1   하차총승객수  80 non-null     float64
dtypes: float64(2)
memory usage: 1.9+ KB

In [27]:
# csv 파일 만들기
sub_month_dat.to_csv('sub_month_2015-2021.csv', index=True)