# 기상청기온자료 결측치 처리
* 결측치
* 기온 : 4+1 = 5
* 습도 : 4+17 = 21
* 현지기압 : 2+5 = 7

In [6]:
import pandas as pd

In [7]:
total_temp = pd.read_csv('../기상청기온자료/2013-2018년_기상청기온자료01.csv')
total_temp.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2013-01-01 01,-8.5,NaN,4.0,50.0,57.0,1.8,-15.5,1010.0,...,NaN,NaN,NaN,NaN,NaN,-3.4,-2.9,-1.6,-0.5,0.3
1,108,2013-01-01 02,-8.4,NaN,4.0,70.0,60.0,2.0,-14.7,1009.4,...,NaN,NaN,NaN,NaN,NaN,-3.4,-3.0,-1.6,-0.5,0.4
2,108,2013-01-01 03,-8.1,NaN,3.4,70.0,58.0,1.9,-14.9,1009.2,...,Ac,35.0,2000.0,13.0,NaN,-3.4,-3.0,-1.6,-0.5,0.3
3,108,2013-01-01 04,-8.2,NaN,3.8,70.0,58.0,1.9,-15.0,1008.2,...,Ac,35.0,2000.0,NaN,NaN,-3.4,-2.9,-1.7,-0.5,0.3
4,108,2013-01-01 05,-8.2,NaN,4.4,70.0,61.0,2.0,-14.4,1007.3,...,ScAs,10.0,1000.0,NaN,5.0,-3.3,-2.9,-1.7,-0.5,0.3

In [8]:
total_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             52584 non-null  int64
 1   일시             52584 non-null  object
 2   기온(°C)         52579 non-null  float64
 3   강수량(mm)        4944 non-null   float64
 4   풍속(m/s)        52538 non-null  float64
 5   풍향(16방위)       52538 non-null  float64
 6   습도(%)          52563 non-null  float64
 7   증기압(hPa)       52572 non-null  float64
 8   이슬점온도(°C)      52572 non-null  float64
 9   현지기압(hPa)      52577 non-null  float64
 10  해면기압(hPa)      52580 non-null  float64
 11  일조(hr)         28716 non-null  float64
 12  일사(MJ/m2)      28529 non-null  float64
 13  적설(cm)         2394 non-null   float64
 14  3시간신적설(cm)     153 non-null    float64
 15  전운량(10분위)      41808 non-null  float64
 16  중하층운량(10분위)    45458 non-null  float64
 17  운형(운형약어)       29442 non-null  object
 18  최저운고(100m )    25026 non-null  float64
 19  시정(10m)        48239 non-null  float64
 20  지면상태(지면상태코드)   5116 non-null   float64
 21  현상번호(국내식)      18860 non-null  float64
 22  지면온도(°C)       52530 non-null  float64
 23  5cm 지중온도(°C)   52527 non-null  float64
 24  10cm 지중온도(°C)  52533 non-null  float64
 25  20cm 지중온도(°C)  52513 non-null  float64
 26  30cm 지중온도(°C)  52448 non-null  float64
dtypes: float64(24), int64(1), object(2)
memory usage: 10.8+ MB

### 기온 결측치 5개 처리

In [11]:
total_temp[total_temp['기온(°C)'].isnull()]

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
41512,108,2017-09-26 17,NaN,NaN,NaN,NaN,NaN,2.8,-10.5,NaN,...,ScAs,10.0,1459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41894,108,2017-10-12 15,NaN,NaN,NaN,NaN,NaN,9.6,6.4,NaN,...,As,28.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41895,108,2017-10-12 16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,As,28.0,1912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41896,108,2017-10-12 17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ac,35.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51809,108,2018-11-29 18,NaN,NaN,0.9,320.0,46.0,4.3,-4.8,1016.3,...,Sc,12.0,1566.0,NaN,NaN,3.6,5.0,5.5,6.0,6.8

In [14]:
total_temp['기온(°C)'] = total_temp['기온(°C)'].interpolate()
total_temp[total_temp['기온(°C)'].isnull()]

Empty DataFrame
Columns: [지점, 일시, 기온(°C), 강수량(mm), 풍속(m/s), 풍향(16방위), 습도(%), 증기압(hPa), 이슬점온도(°C), 현지기압(hPa), 해면기압(hPa), 일조(hr), 일사(MJ/m2), 적설(cm), 3시간신적설(cm), 전운량(10분위), 중하층운량(10분위), 운형(운형약어), 최저운고(100m ), 시정(10m), 지면상태(지면상태코드), 현상번호(국내식), 지면온도(°C), 5cm 지중온도(°C), 10cm 지중온도(°C), 20cm 지중온도(°C), 30cm 지중온도(°C)]
Index: []

[0 rows x 27 columns]

In [15]:
total_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             52584 non-null  int64
 1   일시             52584 non-null  object
 2   기온(°C)         52584 non-null  float64
 3   강수량(mm)        4944 non-null   float64
 4   풍속(m/s)        52538 non-null  float64
 5   풍향(16방위)       52538 non-null  float64
 6   습도(%)          52563 non-null  float64
 7   증기압(hPa)       52572 non-null  float64
 8   이슬점온도(°C)      52572 non-null  float64
 9   현지기압(hPa)      52577 non-null  float64
 10  해면기압(hPa)      52580 non-null  float64
 11  일조(hr)         28716 non-null  float64
 12  일사(MJ/m2)      28529 non-null  float64
 13  적설(cm)         2394 non-null   float64
 14  3시간신적설(cm)     153 non-null    float64
 15  전운량(10분위)      41808 non-null  float64
 16  중하층운량(10분위)    45458 non-null  float64
 17  운형(운형약어)       29442 non-null  object
 18  최저운고(100m )    25026 non-null  float64
 19  시정(10m)        48239 non-null  float64
 20  지면상태(지면상태코드)   5116 non-null   float64
 21  현상번호(국내식)      18860 non-null  float64
 22  지면온도(°C)       52530 non-null  float64
 23  5cm 지중온도(°C)   52527 non-null  float64
 24  10cm 지중온도(°C)  52533 non-null  float64
 25  20cm 지중온도(°C)  52513 non-null  float64
 26  30cm 지중온도(°C)  52448 non-null  float64
dtypes: float64(24), int64(1), object(2)
memory usage: 10.8+ MB

### 습도 21개 결측치 처리

In [16]:
total_temp[total_temp['습도(%)'].isnull()]

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
41512,108,2017-09-26 17,29.150,NaN,NaN,NaN,NaN,2.8,-10.5,NaN,...,ScAs,10.0,1459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41894,108,2017-10-12 15,13.475,NaN,NaN,NaN,NaN,9.6,6.4,NaN,...,As,28.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41895,108,2017-10-12 16,13.250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,As,28.0,1912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41896,108,2017-10-12 17,13.025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ac,35.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47142,108,2018-05-19 07,11.400,NaN,1.4,110.0,NaN,8.4,4.5,1004.7,...,NaN,NaN,2000.0,NaN,NaN,9.9,13.2,15.8,17.7,18.6
47185,108,2018-05-21 02,13.900,NaN,0.9,90.0,NaN,5.2,-2.1,1009.4,...,NaN,NaN,2000.0,NaN,NaN,9.5,14.0,16.7,18.1,18.4
47186,108,2018-05-21 03,13.000,NaN,0.8,70.0,NaN,5.1,-2.5,1009.3,...,NaN,NaN,2000.0,NaN,NaN,8.7,13.4,16.3,17.9,18.3
47187,108,2018-05-21 04,12.400,NaN,0.8,110.0,NaN,4.8,-3.4,1009.0,...,NaN,NaN,2000.0,NaN,NaN,8.1,12.9,15.9,17.6,18.2
47188,108,2018-05-21 05,11.900,NaN,1.3,90.0,NaN,5.0,-2.7,1009.1,...,NaN,NaN,2000.0,NaN,NaN,7.8,12.5,15.5,17.4,18.1
47189,108,2018-05-21 06,11.400,NaN,0.9,20.0,NaN,5.3,-2.0,1008.9,...,NaN,NaN,2000.0,NaN,NaN,7.9,12.2,15.2,17.2,18.0
47190,108,2018-05-21 07,12.300,NaN,0.9,110.0,NaN,5.0,-2.7,1009.0,...,Ci,NaN,1989.0,NaN,NaN,9.0,12.3,14.9,17.0,17.8
47210,108,2018-05-22 03,15.500,NaN,0.7,50.0,NaN,12.6,10.4,1005.7,...,Sc,16.0,1420.0,NaN,NaN,14.0,16.3,18.2,18.9,18.8
47211,108,2018-05-22 04,15.600,NaN,0.5,50.0,NaN,12.7,10.5,1005.5,...,Sc,14.0,1502.0,NaN,NaN,13.6,16.3,17.9,18.8,18.7
47212,108,2018-05-22 05,15.700,NaN,0.6,90.0,NaN,12.8,10.6,1005.4,...,Sc,13.0,1610.0,NaN,NaN,14.0,16.2,17.7,18.5,18.6
47213,108,2018-05-22 06,15.500,NaN,0.5,90.0,NaN,12.6,10.4,1005.3,...,Ci,NaN,1691.0,NaN,NaN,14.0,16.1,17.6,18.4,18.6
47332,108,2018-05-27 05,17.600,NaN,0.8,320.0,NaN,12.0,9.7,1000.8,...,Ci,NaN,1304.0,NaN,NaN,15.8,18.6,20.4,20.9,20.6
47334,108,2018-05-27 07,17.600,NaN,1.4,200.0,NaN,11.2,8.7,1001.2,...,Ci,NaN,1219.0,NaN,NaN,18.1,18.5,19.9,20.5,20.4
47355,108,2018-05-28 04,17.200,NaN,0.4,0.0,NaN,11.3,8.8,1000.3,...,Sc,10.0,1619.0,NaN,NaN,15.4,18.3,19.8,20.5,20.4
47356,108,2018-05-28 05,16.600,NaN,0.9,320.0,NaN,12.0,9.7,1000.4,...,Sc,10.0,1361.0,NaN,NaN,14.5,17.7,19.6,20.3,20.3
47357,108,2018-05-28 06,16.200,NaN,0.5,20.0,NaN,11.7,9.3,1000.5,...,NaN,NaN,1588.0,NaN,NaN,14.6,17.3,19.3,20.2,20.2
47358,108,2018-05-28 07,16.800,NaN,0.8,50.0,NaN,11.4,8.9,1000.8,...,Sc,9.0,1387.0,NaN,NaN,16.6,17.4,19.0,20.0,20.1

In [17]:
total_temp['습도(%)'] = total_temp['습도(%)'].interpolate()
total_temp[total_temp['습도(%)'].isnull()]

Empty DataFrame
Columns: [지점, 일시, 기온(°C), 강수량(mm), 풍속(m/s), 풍향(16방위), 습도(%), 증기압(hPa), 이슬점온도(°C), 현지기압(hPa), 해면기압(hPa), 일조(hr), 일사(MJ/m2), 적설(cm), 3시간신적설(cm), 전운량(10분위), 중하층운량(10분위), 운형(운형약어), 최저운고(100m ), 시정(10m), 지면상태(지면상태코드), 현상번호(국내식), 지면온도(°C), 5cm 지중온도(°C), 10cm 지중온도(°C), 20cm 지중온도(°C), 30cm 지중온도(°C)]
Index: []

[0 rows x 27 columns]

In [18]:
total_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             52584 non-null  int64
 1   일시             52584 non-null  object
 2   기온(°C)         52584 non-null  float64
 3   강수량(mm)        4944 non-null   float64
 4   풍속(m/s)        52538 non-null  float64
 5   풍향(16방위)       52538 non-null  float64
 6   습도(%)          52584 non-null  float64
 7   증기압(hPa)       52572 non-null  float64
 8   이슬점온도(°C)      52572 non-null  float64
 9   현지기압(hPa)      52577 non-null  float64
 10  해면기압(hPa)      52580 non-null  float64
 11  일조(hr)         28716 non-null  float64
 12  일사(MJ/m2)      28529 non-null  float64
 13  적설(cm)         2394 non-null   float64
 14  3시간신적설(cm)     153 non-null    float64
 15  전운량(10분위)      41808 non-null  float64
 16  중하층운량(10분위)    45458 non-null  float64
 17  운형(운형약어)       29442 non-null  object
 18  최저운고(100m )    25026 non-null  float64
 19  시정(10m)        48239 non-null  float64
 20  지면상태(지면상태코드)   5116 non-null   float64
 21  현상번호(국내식)      18860 non-null  float64
 22  지면온도(°C)       52530 non-null  float64
 23  5cm 지중온도(°C)   52527 non-null  float64
 24  10cm 지중온도(°C)  52533 non-null  float64
 25  20cm 지중온도(°C)  52513 non-null  float64
 26  30cm 지중온도(°C)  52448 non-null  float64
dtypes: float64(24), int64(1), object(2)
memory usage: 10.8+ MB

### 현지기압 결측치 7개 처리

In [19]:
total_temp[total_temp['현지기압(hPa)'].isnull()]

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
31518,108,2016-08-06 07,27.000,NaN,1.3,20.0,74.00,26.3,21.9,NaN,...,NaN,NaN,1100.0,NaN,NaN,26.9,27.4,28.2,28.9,27.7
31519,108,2016-08-06 08,28.700,NaN,1.4,70.0,66.00,26.0,21.7,NaN,...,NaN,NaN,900.0,NaN,40.0,32.4,28.4,28.2,28.7,27.5
41512,108,2017-09-26 17,29.150,NaN,NaN,NaN,42.00,2.8,-10.5,NaN,...,ScAs,10.0,1459.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41513,108,2017-09-26 18,27.900,NaN,NaN,NaN,45.00,16.8,14.8,NaN,...,ScAs,10.0,1512.0,NaN,NaN,27.8,27.9,27.0,24.3,23.5
41894,108,2017-10-12 15,13.475,NaN,NaN,NaN,62.25,9.6,6.4,NaN,...,As,28.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41895,108,2017-10-12 16,13.250,NaN,NaN,NaN,63.50,NaN,NaN,NaN,...,As,28.0,1912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41896,108,2017-10-12 17,13.025,NaN,NaN,NaN,64.75,NaN,NaN,NaN,...,Ac,35.0,1964.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
total_temp['현지기압(hPa)'] = total_temp['현지기압(hPa)'].interpolate()
total_temp[total_temp['현지기압(hPa)'].isnull()]

Empty DataFrame
Columns: [지점, 일시, 기온(°C), 강수량(mm), 풍속(m/s), 풍향(16방위), 습도(%), 증기압(hPa), 이슬점온도(°C), 현지기압(hPa), 해면기압(hPa), 일조(hr), 일사(MJ/m2), 적설(cm), 3시간신적설(cm), 전운량(10분위), 중하층운량(10분위), 운형(운형약어), 최저운고(100m ), 시정(10m), 지면상태(지면상태코드), 현상번호(국내식), 지면온도(°C), 5cm 지중온도(°C), 10cm 지중온도(°C), 20cm 지중온도(°C), 30cm 지중온도(°C)]
Index: []

[0 rows x 27 columns]

In [21]:
total_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52584 entries, 0 to 52583
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             52584 non-null  int64
 1   일시             52584 non-null  object
 2   기온(°C)         52584 non-null  float64
 3   강수량(mm)        4944 non-null   float64
 4   풍속(m/s)        52538 non-null  float64
 5   풍향(16방위)       52538 non-null  float64
 6   습도(%)          52584 non-null  float64
 7   증기압(hPa)       52572 non-null  float64
 8   이슬점온도(°C)      52572 non-null  float64
 9   현지기압(hPa)      52584 non-null  float64
 10  해면기압(hPa)      52580 non-null  float64
 11  일조(hr)         28716 non-null  float64
 12  일사(MJ/m2)      28529 non-null  float64
 13  적설(cm)         2394 non-null   float64
 14  3시간신적설(cm)     153 non-null    float64
 15  전운량(10분위)      41808 non-null  float64
 16  중하층운량(10분위)    45458 non-null  float64
 17  운형(운형약어)       29442 non-null  object
 18  최저운고(100m )    25026 non-null  float64
 19  시정(10m)        48239 non-null  float64
 20  지면상태(지면상태코드)   5116 non-null   float64
 21  현상번호(국내식)      18860 non-null  float64
 22  지면온도(°C)       52530 non-null  float64
 23  5cm 지중온도(°C)   52527 non-null  float64
 24  10cm 지중온도(°C)  52533 non-null  float64
 25  20cm 지중온도(°C)  52513 non-null  float64
 26  30cm 지중온도(°C)  52448 non-null  float64
dtypes: float64(24), int64(1), object(2)
memory usage: 10.8+ MB

### 파일로 출력하기

In [22]:
total_temp.to_csv('2013-2018년_기상청기온자료02.csv', index=False)