In [24]:
import os
os.listdir()

['.ipynb_checkpoints',
 '01_world_coronaboard.ipynb',
 '02_vaccine_bloomberg.ipynb',
 '03.ipynb',
 '2021-09-28_corona.csv',
 '2021-09-28_corona.xlsx',
 '20210929_14_vaccine_bloomberg.csv',
 'bloomberg_corona.csv',
 'bloomberg_corona.xlsx',
 'chromedriver.exe',
 'chromedriver_94.exe',
 'country.csv',
 'data']

In [25]:
import pandas as pd

In [26]:
corona = pd.read_csv('2021-09-28_corona.csv')
vaccine = pd.read_csv('20210929_14_vaccine_bloomberg.csv')
country_code = pd.read_csv('country.csv', encoding='cp949')

In [27]:
corona.shape, vaccine.shape, country_code.shape

((222, 15), (207, 7), (227, 4))

In [28]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222 entries, 0 to 221
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   국가      222 non-null    object
 1   치명(%)   222 non-null    object
 2   완치(%)   219 non-null    float64
 3   발생률     222 non-null    object
 4   인구수     222 non-null    object
 5   확진자합계   222 non-null    int64
 6   확진자1일   168 non-null    float64
 7   치료중합계   219 non-null    float64
 8   치료중1일   165 non-null    float64
 9   위중증합계   153 non-null    float64
 10  위중증1일   62 non-null     float64
 11  사망자합계   222 non-null    int64
 12  사망자1일   131 non-null    float64
 13  완치합계    219 non-null    float64
 14  완치1일    146 non-null    float64
dtypes: float64(9), int64(2), object(4)
memory usage: 26.1+ KB

In [29]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207 entries, 0 to 206
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   index                  207 non-null    float64
 1   국가                     207 non-null    object
 2   백신접종수                  207 non-null    float64
 3   Enough_percent_people  207 non-null    float64
 4   1차접종                   207 non-null    float64
 5   2차접종                   207 non-null    float64
 6   일별접종수                  207 non-null    float64
dtypes: float64(6), object(1)
memory usage: 11.4+ KB

In [30]:
country_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227 entries, 0 to 226
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   국문(코로나보드)  221 non-null    object
 1   영문(블룸버그)   202 non-null    object
 2   나라         12 non-null     object
 3   비고_뜻       30 non-null     object
dtypes: object(4)
memory usage: 7.2+ KB

In [31]:
vaccine.head()

,index,국가,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,0.0,Global Total,6.199444e+09,-999.0,-999.0,-999.0,29152868.0
1,1.0,Mainland China,2.203185e+09,78.7,78.6,73.0,3171286.0
2,2.0,India,8.765386e+08,32.0,46.7,16.8,7178901.0
3,3.0,EU,5.640300e+08,63.5,67.3,64.7,1052903.0
4,4.0,U.S.,3.911526e+08,61.1,64.4,55.8,701422.0

In [32]:
country_code.head()

  국문(코로나보드) 영문(블룸버그)   나라        비고_뜻
0        가나    Ghana  NaN         NaN
1        가봉    Gabon  NaN         NaN
2      가이아나   Guyana  NaN         NaN
3       감비아   Gambia  NaN         NaN
4      과들루프      NaN  프랑스  Guadeloupe

In [33]:
corona.head()

,국가,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,치료중합계,치료중1일,위중증합계,위중증1일,사망자합계,사망자1일,완치합계,완치1일
0,미국🇺🇸,1.6,76.0,133095,331002651,43942335,187382.0,9838383.0,-23963.0,21819.0,-275.0,709119,2781.0,33394833.0,208564.0
1,인도🇮🇳,1.3,97.8,24431,1380004385,33714241,21093.0,289782.0,-7388.0,8944.0,NaN,447699,337.0,32976760.0,28144.0
2,브라질🇧🇷,2.8,95.3,100592,212559417,21366395,14423.0,410502.0,-6613.0,8318.0,NaN,594702,218.0,20361191.0,20818.0
3,영국🇬🇧,1.8,80.7,113959,67886011,7701715,37485.0,1346396.0,3904.0,878.0,-38.0,136208,40.0,6219111.0,33541.0
4,러시아🇷🇺,2.8,88.9,51151,145934462,7464708,21559.0,623692.0,3339.0,2300.0,NaN,205531,852.0,6635485.0,17368.0

### corona 데이터셋에서, 국가명에서 한글만 가져오기

In [34]:
corona['국가'].str.extract('([ㄱ-ㅣ가-힣]+)')

          0
0        미국
1        인도
2       브라질
3        영국
4       러시아
..      ...
217      마셜
218    바누아투
219     사모아
220  세인트헬레나
221  미크로네시아

[222 rows x 1 columns]

In [35]:
corona['한글표기'] = corona['국가'].str.extract('([ㄱ-ㅣ가-힣]+)', expand=False)
corona.head()

,국가,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,치료중합계,치료중1일,위중증합계,위중증1일,사망자합계,사망자1일,완치합계,완치1일,한글표기
0,미국🇺🇸,1.6,76.0,133095,331002651,43942335,187382.0,9838383.0,-23963.0,21819.0,-275.0,709119,2781.0,33394833.0,208564.0,미국
1,인도🇮🇳,1.3,97.8,24431,1380004385,33714241,21093.0,289782.0,-7388.0,8944.0,NaN,447699,337.0,32976760.0,28144.0,인도
2,브라질🇧🇷,2.8,95.3,100592,212559417,21366395,14423.0,410502.0,-6613.0,8318.0,NaN,594702,218.0,20361191.0,20818.0,브라질
3,영국🇬🇧,1.8,80.7,113959,67886011,7701715,37485.0,1346396.0,3904.0,878.0,-38.0,136208,40.0,6219111.0,33541.0,영국
4,러시아🇷🇺,2.8,88.9,51151,145934462,7464708,21559.0,623692.0,3339.0,2300.0,NaN,205531,852.0,6635485.0,17368.0,러시아

In [36]:
corona.columns

Index(['국가', '치명(%)', '완치(%)', '발생률', '인구수', '확진자합계', '확진자1일', '치료중합계',
       '치료중1일', '위중증합계', '위중증1일', '사망자합계', '사망자1일', '완치합계', '완치1일', '한글표기'],
      dtype='object')

In [37]:
col = ['국가', '한글표기', '위중증합계', '위중증1일', '치명(%)', '완치(%)', '발생률', 
       '인구수', '확진자합계', '확진자1일', '사망자합계', '사망자1일', '완치합계', '완치1일']

new_corona = corona[col].copy()
new_corona

,국가,한글표기,위중증합계,위중증1일,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일
0,미국🇺🇸,미국,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0
1,인도🇮🇳,인도,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0
2,브라질🇧🇷,브라질,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0
3,영국🇬🇧,영국,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0
4,러시아🇷🇺,러시아,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,마셜 제도🇲🇭,마셜,NaN,NaN,-,100.0,68,59190,4,NaN,0,NaN,4.0,NaN
218,바누아투🇻🇺,바누아투,NaN,NaN,25,75.0,13,307145,4,NaN,1,NaN,3.0,NaN
219,사모아🇼🇸,사모아,NaN,NaN,-,100.0,15,198414,3,NaN,0,NaN,3.0,NaN
220,세인트헬레나🇸🇭,세인트헬레나,NaN,NaN,-,100.0,329,6077,2,NaN,0,NaN,2.0,NaN
221,미크로네시아🇫🇲,미크로네시아,NaN,NaN,-,100.0,9,115023,1,NaN,0,NaN,1.0,NaN

In [38]:
country_code.columns

Index(['국문(코로나보드)', '영문(블룸버그)', '나라', '비고_뜻'], dtype='object')

In [39]:
country_code.columns = ['han_code', 'eng_code', 'country', 'etc']
country_code

    han_code      eng_code country         etc
0         가나         Ghana     NaN         NaN
1         가봉         Gabon     NaN         NaN
2       가이아나        Guyana     NaN         NaN
3        감비아        Gambia     NaN         NaN
4       과들루프           NaN     프랑스  Guadeloupe
..       ...           ...     ...         ...
222      NaN         Nauru     NaN         나우루
223      NaN         Tonga     NaN          통가
224      NaN  Turkmenistan     NaN     투르크메니스탄
225      NaN        Jersey     NaN          저지
226      NaN            EU     NaN         NaN

[227 rows x 4 columns]

In [40]:
new_corona.columns

Index(['국가', '한글표기', '위중증합계', '위중증1일', '치명(%)', '완치(%)', '발생률', '인구수', '확진자합계',
       '확진자1일', '사망자합계', '사망자1일', '완치합계', '완치1일'],
      dtype='object')

### 국가 명을 기준으로 vaccine 데이터를 합친다.

In [41]:
# new_corona중 '한글표기'와 country_code중 'han_code'를 맞추어 합친다.
df_corona = new_corona.merge(country_code, left_on='한글표기', right_on='han_code')
df_corona.head()

,국가,한글표기,위중증합계,위중증1일,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,han_code,eng_code,country,etc
0,미국🇺🇸,미국,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,미국,U.S.,NaN,NaN
1,인도🇮🇳,인도,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,인도,India,NaN,NaN
2,브라질🇧🇷,브라질,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,브라질,Brazil,NaN,NaN
3,영국🇬🇧,영국,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0,영국,U.K.,NaN,NaN
4,러시아🇷🇺,러시아,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0,러시아,Russia,NaN,NaN

In [42]:
df_corona.drop(['국가', 'han_code', 'country', 'etc'], axis=1, inplace=True)

In [43]:
df_corona

,한글표기,위중증합계,위중증1일,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,eng_code
0,미국,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.
1,인도,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,India
2,브라질,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil
3,영국,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0,U.K.
4,러시아,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189,서사하라,NaN,NaN,10,80.0,17,597339,10,NaN,1,NaN,8.0,NaN,NaN
190,바누아투,NaN,NaN,25,75.0,13,307145,4,NaN,1,NaN,3.0,NaN,NaN
191,사모아,NaN,NaN,-,100.0,15,198414,3,NaN,0,NaN,3.0,NaN,Samoa
192,세인트헬레나,NaN,NaN,-,100.0,329,6077,2,NaN,0,NaN,2.0,NaN,St. Helena
193,미크로네시아,NaN,NaN,-,100.0,9,115023,1,NaN,0,NaN,1.0,NaN,Micronesia

In [44]:
df_corona_all = df_corona.merge(vaccine, left_on='eng_code', right_on='국가')
df_corona_all.head()

,한글표기,위중증합계,위중증1일,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,사망자합계,...,완치합계,완치1일,eng_code,index,국가,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,미국,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,...,33394833.0,208564.0,U.S.,4.0,U.S.,391152580.0,61.1,64.4,55.8,701422.0
1,인도,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,...,32976760.0,28144.0,India,2.0,India,876538600.0,32.0,46.7,16.8,7178901.0
2,브라질,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,...,20361191.0,20818.0,Brazil,5.0,Brazil,233261970.0,56.5,71.3,41.9,1317163.0
3,영국,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,...,6219111.0,33541.0,U.K.,12.0,U.K.,93565470.0,70.0,73.0,67.1,63126.0
4,러시아,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,...,6635485.0,17368.0,Russia,18.0,Russia,89865310.0,30.6,32.6,28.5,214966.0

In [45]:
df_corona_all.drop( ['국가'], axis=1, inplace=True  )
df_corona_all

,한글표기,위중증합계,위중증1일,치명(%),완치(%),발생률,인구수,확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,eng_code,index,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
0,미국,21819.0,-275.0,1.6,76.0,133095,331002651,43942335,187382.0,709119,2781.0,33394833.0,208564.0,U.S.,4.0,391152580.0,61.1,64.4,55.8,701422.0
1,인도,8944.0,NaN,1.3,97.8,24431,1380004385,33714241,21093.0,447699,337.0,32976760.0,28144.0,India,2.0,876538600.0,32.0,46.7,16.8,7178901.0
2,브라질,8318.0,NaN,2.8,95.3,100592,212559417,21366395,14423.0,594702,218.0,20361191.0,20818.0,Brazil,5.0,233261970.0,56.5,71.3,41.9,1317163.0
3,영국,878.0,-38.0,1.8,80.7,113959,67886011,7701715,37485.0,136208,40.0,6219111.0,33541.0,U.K.,12.0,93565470.0,70.0,73.0,67.1,63126.0
4,러시아,2300.0,NaN,2.8,88.9,51151,145934462,7464708,21559.0,205531,852.0,6635485.0,17368.0,Russia,18.0,89865310.0,30.6,32.6,28.5,214966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,마카오,NaN,NaN,-,90.0,109,649335,70,3.0,0,NaN,63.0,NaN,Macau,152.0,649564.0,47.8,51.2,44.6,4123.0
174,몬트세랫,NaN,NaN,3.0,90.9,6611,4992,33,NaN,1,NaN,30.0,NaN,Montserrat,224.0,2871.0,28.7,29.7,27.8,2.0
175,사모아,NaN,NaN,-,100.0,15,198414,3,NaN,0,NaN,3.0,NaN,Samoa,189.0,149431.0,37.2,49.3,25.0,981.0
176,세인트헬레나,NaN,NaN,-,100.0,329,6077,2,NaN,0,NaN,2.0,NaN,St. Helena,222.0,7892.0,65.8,72.7,58.9,8.0
177,미크로네시아,NaN,NaN,-,100.0,9,115023,1,NaN,0,NaN,1.0,NaN,Micronesia,208.0,72085.0,34.7,41.6,-999.0,266.0

In [46]:
df_corona_all.corr()

,위중증합계,위중증1일,완치(%),확진자합계,확진자1일,사망자합계,사망자1일,완치합계,완치1일,index,백신접종수,Enough_percent_people,1차접종,2차접종,일별접종수
위중증합계,1.000000,-0.849897,-0.034310,0.913018,0.865098,0.887306,0.878249,0.876905,0.880771,-0.404634,0.702539,0.034659,0.062277,0.006731,0.499437
위중증1일,-0.849897,1.000000,0.139966,-0.835467,-0.821438,-0.790392,-0.845907,-0.834567,-0.844414,0.322717,-0.791848,-0.019808,-0.040743,-0.017533,-0.478399
완치(%),-0.034310,0.139966,1.000000,0.034011,-0.063898,0.034886,-0.049055,0.052528,-0.103847,-0.087645,0.054079,0.116262,0.097295,-0.016257,0.071575
확진자합계,0.913018,-0.835467,0.034011,1.000000,0.801275,0.932022,0.794271,0.992485,0.804830,-0.410961,0.350432,0.115115,0.138337,0.049711,0.594224
확진자1일,0.865098,-0.821438,-0.063898,0.801275,1.000000,0.707009,0.955632,0.726956,0.980165,-0.285114,0.190499,0.084610,0.084779,0.073876,0.171982
사망자합계,0.887306,-0.790392,0.034886,0.932022,0.707009,1.000000,0.731802,0.937049,0.725237,-0.451363,0.307284,0.106476,0.138694,0.049904,0.506341
사망자1일,0.878249,-0.845907,-0.049055,0.794271,0.955632,0.731802,1.000000,0.722099,0.937455,-0.299985,0.483507,0.088468,0.092356,0.077532,0.202815
완치합계,0.876905,-0.834567,0.052528,0.992485,0.726956,0.937049,0.722099,1.000000,0.735906,-0.426591,0.366822,0.115117,0.141518,0.049316,0.656474
완치1일,0.880771,-0.844414,-0.103847,0.804830,0.980165,0.725237,0.937455,0.735906,1.000000,-0.331869,0.193968,0.099032,0.105721,0.089130,0.198846
index,-0.404634,0.322717,-0.087645,-0.410961,-0.285114,-0.451363,-0.299985,-0.426591,-0.331869,1.000000,-0.313905,-0.287544,-0.294920,-0.197769,-0.379185
백신접종수,0.702539,-0.791848,0.054079,0.350432,0.190499,0.307284,0.483507,0.366822,0.193968,-0.313905,1.000000,0.140997,0.142591,0.054844,0.688542
Enough_percent_people,0.034659,-0.019808,0.116262,0.115115,0.084610,0.106476,0.088468,0.115117,0.099032,-0.287544,0.140997,1.000000,0.981056,0.328262,0.029528
1차접종,0.062277,-0.040743,0.097295,0.138337,0.084779,0.138694,0.092356,0.141518,0.105721,-0.294920,0.142591,0.981056,1.000000,0.311609,0.062601
2차접종,0.006731,-0.017533,-0.016257,0.049711,0.073876,0.049904,0.077532,0.049316,0.089130,-0.197769,0.054844,0.328262,0.311609,1.000000,0.012619
일별접종수,0.499437,-0.478399,0.071575,0.594224,0.171982,0.506341,0.202815,0.656474,0.198846,-0.379185,0.688542,0.029528,0.062601,0.012619,1.000000