In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('../2013-2018년_가스공급량과_기온2.csv', index_col=False)

In [8]:
df.head()

,Unnamed: 0,Unnamed: 0.1,연월일,시간,구분,공급량,year,month,day,weekday,기온
0,0,0,2013-01-01,1,0,2497.129,2013,1,1,1,-6.4
1,1,1,2013-01-01,1,1,2169.093,2013,1,1,1,-6.4
2,2,2,2013-01-01,1,2,226.178,2013,1,1,1,-6.4
3,3,3,2013-01-01,1,3,1434.516,2013,1,1,1,-6.4
4,4,4,2013-01-01,1,4,3272.837,2013,1,1,1,-6.4

In [9]:
df = df.drop(['Unnamed: 0', 'Unnamed: 0.1'], axis=1)
df.head()

          연월일  시간  구분       공급량  year  month  day  weekday   기온
0  2013-01-01   1   0  2497.129  2013      1    1        1 -6.4
1  2013-01-01   1   1  2169.093  2013      1    1        1 -6.4
2  2013-01-01   1   2   226.178  2013      1    1        1 -6.4
3  2013-01-01   1   3  1434.516  2013      1    1        1 -6.4
4  2013-01-01   1   4  3272.837  2013      1    1        1 -6.4

# pycaret

In [17]:
# 모든 특성 사용

In [14]:
from pycaret.regression import *

In [15]:
exp = setup(df, target='공급량', ignore_features=['연월일'])

In [16]:
compare_models()

ExtraTreesRegressor(bootstrap=False, ccp_alpha=0.0, criterion='mse',
                    max_depth=None, max_features='auto', max_leaf_nodes=None,
                    max_samples=None, min_impurity_decrease=0.0,
                    min_impurity_split=None, min_samples_leaf=1,
                    min_samples_split=2, min_weight_fraction_leaf=0.0,
                    n_estimators=100, n_jobs=-1, oob_score=False,
                    random_state=5123, verbose=0, warm_start=False)

In [ ]:
%%time

top5_models = compare_models(n_select=5, sort='MAPE',
                             exclude=['llar', 'ada', 'knn', 'en', 'omp', 'huber', 'lasso', 'lr', 'ridge', 'br', 'lar'])