In [170]:
import pandas as pd

### 기상청기온자료 데이터 확인

In [171]:
raw_temp2013 = pd.read_csv('../기상청기온자료/SURFACE_ASOS_108_HR_2013.csv', encoding='cp949')
raw_temp2013.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2013-01-01 00:00,-8.3,NaN,3.6,50,56.0,1.8,-15.5,1010.3,...,Sc,10.0,2000.0,NaN,NaN,-3.3,-2.9,-1.6,-0.5,0.3
1,108,2013-01-01 01:00,-8.5,NaN,4.0,50,57.0,1.8,-15.5,1010.0,...,NaN,NaN,NaN,NaN,NaN,-3.4,-2.9,-1.6,-0.5,0.3
2,108,2013-01-01 02:00,-8.4,NaN,4.0,70,60.0,2.0,-14.7,1009.4,...,NaN,NaN,NaN,NaN,NaN,-3.4,-3.0,-1.6,-0.5,0.4
3,108,2013-01-01 03:00,-8.1,NaN,3.4,70,58.0,1.9,-14.9,1009.2,...,Ac,35.0,2000.0,13.0,NaN,-3.4,-3.0,-1.6,-0.5,0.3
4,108,2013-01-01 04:00,-8.2,NaN,3.8,70,58.0,1.9,-15.0,1008.2,...,Ac,35.0,2000.0,NaN,NaN,-3.4,-2.9,-1.7,-0.5,0.3

In [172]:
raw_temp2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8760 non-null   int64
 1   일시             8760 non-null   object
 2   기온(°C)         8760 non-null   float64
 3   강수량(mm)        930 non-null    float64
 4   풍속(m/s)        8760 non-null   float64
 5   풍향(16방위)       8760 non-null   int64
 6   습도(%)          8760 non-null   float64
 7   증기압(hPa)       8760 non-null   float64
 8   이슬점온도(°C)      8760 non-null   float64
 9   현지기압(hPa)      8760 non-null   float64
 10  해면기압(hPa)      8760 non-null   float64
 11  일조(hr)         4795 non-null   float64
 12  일사(MJ/m2)      4794 non-null   float64
 13  적설(cm)         1080 non-null   float64
 14  3시간신적설(cm)     41 non-null     float64
 15  전운량(10분위)      6807 non-null   float64
 16  중하층운량(10분위)    6807 non-null   float64
 17  운형(운형약어)       4984 non-null   object
 18  최저운고(100m )    4117 non-null   float64
 19  시정(10m)        6807 non-null   float64
 20  지면상태(지면상태코드)   1463 non-null   float64
 21  현상번호(국내식)      3394 non-null   float64
 22  지면온도(°C)       8760 non-null   float64
 23  5cm 지중온도(°C)   8760 non-null   float64
 24  10cm 지중온도(°C)  8760 non-null   float64
 25  20cm 지중온도(°C)  8756 non-null   float64
 26  30cm 지중온도(°C)  8760 non-null   float64
dtypes: float64(23), int64(2), object(2)
memory usage: 1.8+ MB

In [173]:
raw_temp2013.columns

Index(['지점', '일시', '기온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(16방위)', '습도(%)',
       '증기압(hPa)', '이슬점온도(°C)', '현지기압(hPa)', '해면기압(hPa)', '일조(hr)',
       '일사(MJ/m2)', '적설(cm)', '3시간신적설(cm)', '전운량(10분위)', '중하층운량(10분위)',
       '운형(운형약어)', '최저운고(100m )', '시정(10m)', '지면상태(지면상태코드)', '현상번호(국내식)',
       '지면온도(°C)', '5cm 지중온도(°C)', '10cm 지중온도(°C)', '20cm 지중온도(°C)',
       '30cm 지중온도(°C)'],
      dtype='object')

In [174]:
raw_temp2013[1:]

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
1,108,2013-01-01 01:00,-8.5,NaN,4.0,50,57.0,1.8,-15.5,1010.0,...,NaN,NaN,NaN,NaN,NaN,-3.4,-2.9,-1.6,-0.5,0.3
2,108,2013-01-01 02:00,-8.4,NaN,4.0,70,60.0,2.0,-14.7,1009.4,...,NaN,NaN,NaN,NaN,NaN,-3.4,-3.0,-1.6,-0.5,0.4
3,108,2013-01-01 03:00,-8.1,NaN,3.4,70,58.0,1.9,-14.9,1009.2,...,Ac,35.0,2000.0,13.0,NaN,-3.4,-3.0,-1.6,-0.5,0.3
4,108,2013-01-01 04:00,-8.2,NaN,3.8,70,58.0,1.9,-15.0,1008.2,...,Ac,35.0,2000.0,NaN,NaN,-3.4,-2.9,-1.7,-0.5,0.3
5,108,2013-01-01 05:00,-8.2,NaN,4.4,70,61.0,2.0,-14.4,1007.3,...,ScAs,10.0,1000.0,NaN,5.0,-3.3,-2.9,-1.7,-0.5,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,108,2013-12-31 19:00,5.5,NaN,3.6,230,62.0,5.6,-1.2,998.7,...,NaN,NaN,NaN,NaN,40.0,0.1,0.2,-0.2,0.0,1.5
8756,108,2013-12-31 20:00,5.2,NaN,2.7,250,70.0,6.2,0.1,999.0,...,NaN,NaN,NaN,NaN,40.0,0.1,0.2,-0.2,0.0,1.5
8757,108,2013-12-31 21:00,4.9,NaN,3.9,270,64.0,5.6,-1.3,999.6,...,Sc,10.0,600.0,1.0,40.0,0.1,0.2,-0.2,0.0,1.5
8758,108,2013-12-31 22:00,4.2,NaN,3.6,270,62.0,5.1,-2.4,1000.4,...,NaN,NaN,NaN,NaN,40.0,0.1,0.2,-0.2,0.0,1.5
8759,108,2013-12-31 23:00,3.7,NaN,3.2,250,61.0,4.9,-3.1,1001.2,...,NaN,NaN,NaN,NaN,40.0,0.1,0.2,-0.2,0.1,1.5

In [175]:
raw_temp2014 = pd.read_csv('../기상청기온자료/SURFACE_ASOS_108_HR_2014.csv', encoding='cp949')
raw_temp2014.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2014-01-01 00:00,3.3,NaN,3.8,250,65.0,5.0,-2.6,1001.9,...,Sc,10.0,600.0,NaN,40.0,0.0,0.1,-0.2,0.0,1.5
1,108,2014-01-01 01:00,2.6,NaN,2.3,250,66.0,4.9,-3.1,1002.2,...,NaN,NaN,NaN,NaN,40.0,-0.1,0.1,-0.2,0.1,1.5
2,108,2014-01-01 02:00,1.7,NaN,1.7,250,67.0,4.6,-3.7,1002.4,...,NaN,NaN,NaN,NaN,40.0,-0.3,0.0,-0.2,0.0,1.5
3,108,2014-01-01 03:00,1.4,NaN,1.4,250,60.0,4.1,-5.5,1002.2,...,NaN,NaN,600.0,4.0,4240.0,-0.4,0.0,-0.2,0.1,1.5
4,108,2014-01-01 04:00,0.9,NaN,2.8,270,59.0,3.8,-6.2,1002.5,...,NaN,NaN,600.0,NaN,42.0,-0.6,0.0,-0.2,0.0,1.5

In [176]:
raw_temp2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8760 non-null   int64
 1   일시             8760 non-null   object
 2   기온(°C)         8760 non-null   float64
 3   강수량(mm)        792 non-null    float64
 4   풍속(m/s)        8760 non-null   float64
 5   풍향(16방위)       8760 non-null   int64
 6   습도(%)          8760 non-null   float64
 7   증기압(hPa)       8760 non-null   float64
 8   이슬점온도(°C)      8760 non-null   float64
 9   현지기압(hPa)      8760 non-null   float64
 10  해면기압(hPa)      8760 non-null   float64
 11  일조(hr)         4794 non-null   float64
 12  일사(MJ/m2)      4629 non-null   float64
 13  적설(cm)         395 non-null    float64
 14  3시간신적설(cm)     34 non-null     float64
 15  전운량(10분위)      6828 non-null   float64
 16  중하층운량(10분위)    6828 non-null   float64
 17  운형(운형약어)       4970 non-null   object
 18  최저운고(100m )    3949 non-null   float64
 19  시정(10m)        6828 non-null   float64
 20  지면상태(지면상태코드)   1465 non-null   float64
 21  현상번호(국내식)      3739 non-null   float64
 22  지면온도(°C)       8760 non-null   float64
 23  5cm 지중온도(°C)   8760 non-null   float64
 24  10cm 지중온도(°C)  8760 non-null   float64
 25  20cm 지중온도(°C)  8760 non-null   float64
 26  30cm 지중온도(°C)  8677 non-null   float64
dtypes: float64(23), int64(2), object(2)
memory usage: 1.8+ MB

In [177]:
raw_temp2014[1:]

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
1,108,2014-01-01 01:00,2.6,NaN,2.3,250,66.0,4.9,-3.1,1002.2,...,NaN,NaN,NaN,NaN,40.0,-0.1,0.1,-0.2,0.1,1.5
2,108,2014-01-01 02:00,1.7,NaN,1.7,250,67.0,4.6,-3.7,1002.4,...,NaN,NaN,NaN,NaN,40.0,-0.3,0.0,-0.2,0.0,1.5
3,108,2014-01-01 03:00,1.4,NaN,1.4,250,60.0,4.1,-5.5,1002.2,...,NaN,NaN,600.0,4.0,4240.0,-0.4,0.0,-0.2,0.1,1.5
4,108,2014-01-01 04:00,0.9,NaN,2.8,270,59.0,3.8,-6.2,1002.5,...,NaN,NaN,600.0,NaN,42.0,-0.6,0.0,-0.2,0.0,1.5
5,108,2014-01-01 05:00,0.6,NaN,2.0,270,56.0,3.6,-7.1,1002.1,...,NaN,NaN,800.0,NaN,42.0,-0.7,0.0,-0.2,0.1,1.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8755,108,2014-12-31 19:00,-3.4,NaN,7.1,290,52.0,2.5,-11.8,1009.3,...,NaN,NaN,NaN,NaN,NaN,-0.3,-0.3,-0.2,0.1,0.7
8756,108,2014-12-31 20:00,-4.4,NaN,5.6,290,46.0,2.0,-14.3,1010.2,...,NaN,NaN,NaN,NaN,NaN,-0.7,-0.8,-0.3,0.1,0.7
8757,108,2014-12-31 21:00,-4.9,NaN,4.0,290,46.0,2.0,-14.7,1010.5,...,NaN,NaN,2000.0,4.0,NaN,-1.2,-1.2,-0.4,0.1,0.7
8758,108,2014-12-31 22:00,-5.4,NaN,7.9,270,39.0,1.6,-17.2,1010.5,...,NaN,NaN,NaN,NaN,NaN,-1.9,-1.5,-0.6,0.1,0.7
8759,108,2014-12-31 23:00,-6.2,NaN,7.1,290,31.0,1.2,-20.6,1011.4,...,NaN,NaN,NaN,NaN,NaN,-3.1,-2.1,-0.8,0.1,0.7

In [178]:
raw_temp2015 = pd.read_csv('../기상청기온자료/SURFACE_ASOS_108_HR_2015.csv', encoding='cp949')
raw_temp2015.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2015-01-01 00:00,-6.9,NaN,6.1,290,31.0,1.1,-21.2,1011.6,...,NaN,NaN,2000.0,NaN,NaN,-3.8,-2.7,-1.1,0.1,0.7
1,108,2015-01-01 01:00,-7.4,NaN,4.7,290,33.0,1.2,-20.9,1011.8,...,NaN,NaN,NaN,NaN,NaN,-4.5,-3.2,-1.3,0.1,0.8
2,108,2015-01-01 02:00,-8.0,NaN,4.5,290,35.0,1.2,-20.8,1011.7,...,NaN,NaN,NaN,NaN,NaN,-5.1,-3.7,-1.7,0.0,0.7
3,108,2015-01-01 03:00,-8.4,NaN,3.8,290,37.0,1.2,-20.5,1012.1,...,NaN,NaN,2000.0,4.0,NaN,-5.5,-4.0,-1.9,0.0,0.7
4,108,2015-01-01 04:00,-8.8,NaN,4.9,290,35.0,1.1,-21.5,1012.3,...,NaN,NaN,2000.0,NaN,NaN,-5.9,-4.4,-2.2,0.0,0.7

In [179]:
raw_temp2015.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8760 non-null   int64
 1   일시             8760 non-null   object
 2   기온(°C)         8760 non-null   float64
 3   강수량(mm)        757 non-null    float64
 4   풍속(m/s)        8760 non-null   float64
 5   풍향(16방위)       8760 non-null   int64
 6   습도(%)          8760 non-null   float64
 7   증기압(hPa)       8760 non-null   float64
 8   이슬점온도(°C)      8760 non-null   float64
 9   현지기압(hPa)      8760 non-null   float64
 10  해면기압(hPa)      8760 non-null   float64
 11  일조(hr)         4794 non-null   float64
 12  일사(MJ/m2)      4777 non-null   float64
 13  적설(cm)         106 non-null    float64
 14  3시간신적설(cm)     10 non-null     float64
 15  전운량(10분위)      6848 non-null   float64
 16  중하층운량(10분위)    6848 non-null   float64
 17  운형(운형약어)       4867 non-null   object
 18  최저운고(100m )    3892 non-null   float64
 19  시정(10m)        8300 non-null   float64
 20  지면상태(지면상태코드)   1460 non-null   float64
 21  현상번호(국내식)      2765 non-null   float64
 22  지면온도(°C)       8723 non-null   float64
 23  5cm 지중온도(°C)   8719 non-null   float64
 24  10cm 지중온도(°C)  8723 non-null   float64
 25  20cm 지중온도(°C)  8709 non-null   float64
 26  30cm 지중온도(°C)  8723 non-null   float64
dtypes: float64(23), int64(2), object(2)
memory usage: 1.8+ MB

In [180]:
raw_temp2016 = pd.read_csv('../기상청기온자료/SURFACE_ASOS_108_HR_2016.csv', encoding='cp949')
raw_temp2016.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2016-01-01 00:00,-1.9,NaN,0.1,0,85,4.5,-4.0,1022.1,...,NaN,NaN,500,NaN,19.0,-0.8,-0.3,0.1,1.3,2.0
1,108,2016-01-01 01:00,-2.1,NaN,1.6,90,83,4.3,-4.6,1022.0,...,NaN,NaN,600,NaN,19.0,-0.9,-0.3,0.1,1.3,2.0
2,108,2016-01-01 02:00,-2.2,NaN,0.4,0,86,4.5,-4.2,1022.2,...,NaN,NaN,500,NaN,19.0,-1.0,-0.4,0.1,1.3,2.0
3,108,2016-01-01 03:00,-2.5,NaN,1.8,90,90,4.6,-3.9,1022.2,...,NaN,NaN,400,4.0,19.0,-1.0,-0.5,0.1,1.4,2.0
4,108,2016-01-01 04:00,-2.9,NaN,1.9,70,90,4.4,-4.3,1022.0,...,NaN,NaN,400,NaN,19.0,-1.2,-0.7,0.1,1.3,2.0

In [181]:
raw_temp2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8784 non-null   int64
 1   일시             8784 non-null   object
 2   기온(°C)         8784 non-null   float64
 3   강수량(mm)        742 non-null    float64
 4   풍속(m/s)        8784 non-null   float64
 5   풍향(16방위)       8784 non-null   int64
 6   습도(%)          8784 non-null   int64
 7   증기압(hPa)       8784 non-null   float64
 8   이슬점온도(°C)      8784 non-null   float64
 9   현지기압(hPa)      8782 non-null   float64
 10  해면기압(hPa)      8784 non-null   float64
 11  일조(hr)         4804 non-null   float64
 12  일사(MJ/m2)      4801 non-null   float64
 13  적설(cm)         106 non-null    float64
 14  3시간신적설(cm)     14 non-null     float64
 15  전운량(10분위)      6842 non-null   float64
 16  중하층운량(10분위)    7666 non-null   float64
 17  운형(운형약어)       5032 non-null   object
 18  최저운고(100m )    4315 non-null   float64
 19  시정(10m)        8784 non-null   int64
 20  지면상태(지면상태코드)   728 non-null    float64
 21  현상번호(국내식)      2752 non-null   float64
 22  지면온도(°C)       8783 non-null   float64
 23  5cm 지중온도(°C)   8784 non-null   float64
 24  10cm 지중온도(°C)  8784 non-null   float64
 25  20cm 지중온도(°C)  8784 non-null   float64
 26  30cm 지중온도(°C)  8784 non-null   float64
dtypes: float64(21), int64(4), object(2)
memory usage: 1.8+ MB

In [182]:
# 2016년 윤년. 2월 29일까지 존재.
# 현지기압 결측치 2개

In [183]:
raw_temp2017 = pd.read_csv('../기상청기온자료/SURFACE_ASOS_108_HR_2017.csv', encoding='cp949')
raw_temp2017.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2017-01-01 00:00,0.2,NaN,2.2,20.0,79.0,4.9,-3.0,1018.8,...,Sc,8.0,491,NaN,40.0,-0.9,0.1,0.3,1.7,2.6
1,108,2017-01-01 01:00,0.0,NaN,1.4,20.0,78.0,4.8,-3.3,1018.9,...,NaN,7.0,549,NaN,40.0,-0.9,0.0,0.3,1.7,2.6
2,108,2017-01-01 02:00,-0.3,NaN,1.9,50.0,81.0,4.9,-3.1,1018.5,...,NaN,8.0,483,NaN,4019.0,-1.8,0.0,0.3,1.7,2.6
3,108,2017-01-01 03:00,-0.7,NaN,2.0,50.0,84.0,4.9,-3.0,1018.8,...,NaN,NaN,436,NaN,19.0,-2.1,0.0,0.3,1.7,2.7
4,108,2017-01-01 04:00,-1.1,NaN,1.6,20.0,85.0,4.8,-3.3,1018.6,...,NaN,NaN,430,NaN,19.0,-2.4,-0.1,0.4,1.7,2.6

In [184]:
raw_temp2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8760 non-null   int64
 1   일시             8760 non-null   object
 2   기온(°C)         8756 non-null   float64
 3   강수량(mm)        817 non-null    float64
 4   풍속(m/s)        8716 non-null   float64
 5   풍향(16방위)       8716 non-null   float64
 6   습도(%)          8756 non-null   float64
 7   증기압(hPa)       8758 non-null   float64
 8   이슬점온도(°C)      8758 non-null   float64
 9   현지기압(hPa)      8755 non-null   float64
 10  해면기압(hPa)      8757 non-null   float64
 11  일조(hr)         4743 non-null   float64
 12  일사(MJ/m2)      4740 non-null   float64
 13  적설(cm)         420 non-null    float64
 14  3시간신적설(cm)     34 non-null     float64
 15  전운량(10분위)      6823 non-null   float64
 16  중하층운량(10분위)    8684 non-null   float64
 17  운형(운형약어)       4705 non-null   object
 18  최저운고(100m )    4389 non-null   float64
 19  시정(10m)        8760 non-null   int64
 20  지면상태(지면상태코드)   0 non-null      float64
 21  현상번호(국내식)      3302 non-null   float64
 22  지면온도(°C)       8756 non-null   float64
 23  5cm 지중온도(°C)   8755 non-null   float64
 24  10cm 지중온도(°C)  8756 non-null   float64
 25  20cm 지중온도(°C)  8755 non-null   float64
 26  30cm 지중온도(°C)  8755 non-null   float64
dtypes: float64(23), int64(2), object(2)
memory usage: 1.8+ MB

In [185]:
# 2017년 기온 결측치 4개
# 습도 결측치 4개
# 현지기압 결측치 5개

In [186]:
raw_temp2018 = pd.read_csv('../기상청기온자료/SURFACE_ASOS_108_HR_2018.csv', encoding='cp949')
raw_temp2018.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2018-01-01 00:00,-3.2,NaN,0.5,110.0,40.0,1.9,-14.9,1015.4,...,NaN,NaN,1358,NaN,NaN,-2.2,0.0,0.3,1.0,1.5
1,108,2018-01-01 01:00,-3.3,NaN,0.7,360.0,41.0,2.0,-14.7,1015.1,...,NaN,NaN,2000,NaN,NaN,-2.7,-0.1,0.3,0.9,1.5
2,108,2018-01-01 02:00,-3.7,NaN,0.9,270.0,42.0,2.0,-14.7,1015.2,...,NaN,NaN,2000,NaN,NaN,-3.0,-0.2,0.3,0.9,1.6
3,108,2018-01-01 03:00,-4.0,NaN,1.0,290.0,44.0,2.0,-14.4,1015.5,...,NaN,NaN,2000,NaN,NaN,-3.5,-0.2,0.3,1.0,1.5
4,108,2018-01-01 04:00,-4.2,NaN,1.1,290.0,53.0,2.4,-12.3,1015.5,...,NaN,NaN,1994,NaN,NaN,-3.8,-0.3,0.3,0.9,1.6

In [187]:
raw_temp2018.tail()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
8755,108,2018-12-31 19:00,-3.1,NaN,2.1,270.0,43.0,2.1,-13.9,1025.5,...,NaN,NaN,1905,NaN,NaN,-2.2,-0.5,-0.4,0.0,1.0
8756,108,2018-12-31 20:00,-3.7,NaN,0.8,340.0,39.0,1.8,-15.6,1024.9,...,NaN,41.0,1765,NaN,NaN,-3.0,-1.1,-0.4,0.0,0.9
8757,108,2018-12-31 21:00,-4.6,NaN,1.1,290.0,44.0,1.9,-15.0,1024.8,...,NaN,NaN,1658,NaN,NaN,-4.1,-1.8,-0.6,0.0,1.0
8758,108,2018-12-31 22:00,-5.4,NaN,1.3,270.0,46.0,1.9,-15.2,1024.4,...,NaN,NaN,1694,NaN,NaN,-5.0,-2.5,-0.7,0.0,1.0
8759,108,2018-12-31 23:00,-5.2,NaN,1.6,320.0,47.0,2.0,-14.7,1024.6,...,NaN,NaN,1514,NaN,NaN,-5.1,-3.0,-0.9,0.0,0.9

In [188]:
raw_temp2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             8760 non-null   int64
 1   일시             8760 non-null   object
 2   기온(°C)         8759 non-null   float64
 3   강수량(mm)        906 non-null    float64
 4   풍속(m/s)        8758 non-null   float64
 5   풍향(16방위)       8758 non-null   float64
 6   습도(%)          8743 non-null   float64
 7   증기압(hPa)       8750 non-null   float64
 8   이슬점온도(°C)      8750 non-null   float64
 9   현지기압(hPa)      8760 non-null   float64
 10  해면기압(hPa)      8759 non-null   float64
 11  일조(hr)         4786 non-null   float64
 12  일사(MJ/m2)      4788 non-null   float64
 13  적설(cm)         288 non-null    float64
 14  3시간신적설(cm)     20 non-null     float64
 15  전운량(10분위)      7660 non-null   float64
 16  중하층운량(10분위)    8625 non-null   float64
 17  운형(운형약어)       4885 non-null   object
 18  최저운고(100m )    4365 non-null   float64
 19  시정(10m)        8760 non-null   int64
 20  지면상태(지면상태코드)   0 non-null      float64
 21  현상번호(국내식)      2908 non-null   float64
 22  지면온도(°C)       8748 non-null   float64
 23  5cm 지중온도(°C)   8749 non-null   float64
 24  10cm 지중온도(°C)  8750 non-null   float64
 25  20cm 지중온도(°C)  8749 non-null   float64
 26  30cm 지중온도(°C)  8749 non-null   float64
dtypes: float64(23), int64(2), object(2)
memory usage: 1.8+ MB

In [189]:
# 2018년 기온 결측치 1개
# 습도 결측치 17개

In [190]:
raw_temp2019 = pd.read_csv('../기상청기온자료/SURFACE_ASOS_108_HR_2019.csv', encoding='cp949')
raw_temp2019.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2019-01-01 00:00,-5.5,NaN,1.0,290.0,54.0,2.2,-13.3,1024.1,...,NaN,NaN,1573,NaN,NaN,-6.0,-3.4,-1.1,0.0,1.0
1,108,2019-01-01 01:00,-5.9,NaN,1.8,270.0,56.0,2.2,-13.2,1024.0,...,NaN,NaN,1569,NaN,NaN,-6.5,-3.9,-1.4,0.0,1.0
2,108,2019-01-01 02:00,-6.5,NaN,1.2,290.0,60.0,2.3,-12.9,1024.2,...,NaN,NaN,1462,NaN,NaN,-7.1,-4.2,-1.6,0.0,1.0
3,108,2019-01-01 03:00,-6.9,NaN,2.2,270.0,62.0,2.3,-12.9,1024.3,...,Ci,NaN,1281,NaN,NaN,-7.3,-4.6,-1.8,0.0,1.0
4,108,2019-01-01 04:00,-7.2,NaN,1.2,270.0,57.0,2.0,-14.2,1023.9,...,Ci,NaN,1195,NaN,NaN,-7.5,-4.7,-2.0,-0.1,1.0

In [191]:
raw_temp2019[:1]

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
0,108,2019-01-01 00:00,-5.5,NaN,1.0,290.0,54.0,2.2,-13.3,1024.1,...,NaN,NaN,1573,NaN,NaN,-6.0,-3.4,-1.1,0.0,1.0

### 2019년 1월 1일 0시는 가스공급량 데이터에서 2018년 12월 31일 24시 데이터
* 2019년 1월 1일 0시 데이터만 가져올 것.

### 일자 수정
* 가스공급량 데이터와 날짜 형식 통일위해 일자 수정
    * 매일 0시 -> 전날 24시로 변경
* 방법
    * 1. 새로 일자 만들어 데이터셋에 입력하기
    * 2. 해당 날짜만 골라 전날 24시로 바꾸기

In [192]:
mod_temp2013.loc[0, '일시'] = '2012-12-31 24:00'
mod_temp2013.head()

C:\Users\kbjoo\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

                 일시  기온(°C)  습도(%)  현지기압(hPa)
0  2012-12-31 24:00    -8.3   56.0     1010.3
1  2013-01-01 01:00    -8.5   57.0     1010.0
2  2013-01-01 02:00    -8.4   60.0     1009.4
3  2013-01-01 03:00    -8.1   58.0     1009.2
4  2013-01-01 04:00    -8.2   58.0     1008.2

In [193]:
mod_temp2013.loc[mod_temp2013['일시'] == '2013-01-01 00:00', '일시'] = '2012-12-31 24:00'
mod_temp2013.head()

C:\Users\kbjoo\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

                 일시  기온(°C)  습도(%)  현지기압(hPa)
0  2012-12-31 24:00    -8.3   56.0     1010.3
1  2013-01-01 01:00    -8.5   57.0     1010.0
2  2013-01-01 02:00    -8.4   60.0     1009.4
3  2013-01-01 03:00    -8.1   58.0     1009.2
4  2013-01-01 04:00    -8.2   58.0     1008.2

In [194]:
mod_temp2013.loc[mod_temp2013['일시'] == '2013-02-31 00:00', '일시'] = '2012-02-30 24:00'
mod_temp2013.loc[mod_temp2013['일시'] == '2013-02-31 00:00', '일시']

C:\Users\kbjoo\anaconda3\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Series([], Name: 일시, dtype: object)

In [195]:
mod_temp2013.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8760 entries, 0 to 8759
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   일시         8760 non-null   object
 1   기온(°C)     8760 non-null   float64
 2   습도(%)      8760 non-null   float64
 3   현지기압(hPa)  8760 non-null   float64
dtypes: float64(3), object(1)
memory usage: 273.9+ KB

In [196]:
data2013 = pd.date_range(start='2013-02-15', end='2013-03-15').tolist()
data2013

[Timestamp('2013-02-15 00:00:00', freq='D'),
 Timestamp('2013-02-16 00:00:00', freq='D'),
 Timestamp('2013-02-17 00:00:00', freq='D'),
 Timestamp('2013-02-18 00:00:00', freq='D'),
 Timestamp('2013-02-19 00:00:00', freq='D'),
 Timestamp('2013-02-20 00:00:00', freq='D'),
 Timestamp('2013-02-21 00:00:00', freq='D'),
 Timestamp('2013-02-22 00:00:00', freq='D'),
 Timestamp('2013-02-23 00:00:00', freq='D'),
 Timestamp('2013-02-24 00:00:00', freq='D'),
 Timestamp('2013-02-25 00:00:00', freq='D'),
 Timestamp('2013-02-26 00:00:00', freq='D'),
 Timestamp('2013-02-27 00:00:00', freq='D'),
 Timestamp('2013-02-28 00:00:00', freq='D'),
 Timestamp('2013-03-01 00:00:00', freq='D'),
 Timestamp('2013-03-02 00:00:00', freq='D'),
 Timestamp('2013-03-03 00:00:00', freq='D'),
 Timestamp('2013-03-04 00:00:00', freq='D'),
 Timestamp('2013-03-05 00:00:00', freq='D'),
 Timestamp('2013-03-06 00:00:00', freq='D'),
 Timestamp('2013-03-07 00:00:00', freq='D'),
 Timestamp('2013-03-08 00:00:00', freq='D'),
 Timestamp('2013-03-09 00:00:00', freq='D'),
 Timestamp('2013-03-10 00:00:00', freq='D'),
 Timestamp('2013-03-11 00:00:00', freq='D'),
 Timestamp('2013-03-12 00:00:00', freq='D'),
 Timestamp('2013-03-13 00:00:00', freq='D'),
 Timestamp('2013-03-14 00:00:00', freq='D'),
 Timestamp('2013-03-15 00:00:00', freq='D')]

### 2013년 날짜 리스트 만들기

In [197]:
data2013 = pd.date_range(start='2013-02-15 01:00:00', end='2013-03-01 18:00:00').tolist()
data2013

[Timestamp('2013-02-15 01:00:00', freq='D'),
 Timestamp('2013-02-16 01:00:00', freq='D'),
 Timestamp('2013-02-17 01:00:00', freq='D'),
 Timestamp('2013-02-18 01:00:00', freq='D'),
 Timestamp('2013-02-19 01:00:00', freq='D'),
 Timestamp('2013-02-20 01:00:00', freq='D'),
 Timestamp('2013-02-21 01:00:00', freq='D'),
 Timestamp('2013-02-22 01:00:00', freq='D'),
 Timestamp('2013-02-23 01:00:00', freq='D'),
 Timestamp('2013-02-24 01:00:00', freq='D'),
 Timestamp('2013-02-25 01:00:00', freq='D'),
 Timestamp('2013-02-26 01:00:00', freq='D'),
 Timestamp('2013-02-27 01:00:00', freq='D'),
 Timestamp('2013-02-28 01:00:00', freq='D'),
 Timestamp('2013-03-01 01:00:00', freq='D')]

### 1. 새로 일자 만들어 데이터셋에 입력하기

In [198]:
date_list2013 = ["2012-12-24 24"]
for m in [1,3,5,7,8,10,12]:
    for d in range(1,32):
        for h in range(1,25):
            date_list2013.append(f"2013-{m:0>2}-{d:0>2} {h:0>2}")

for m in [4,6,9,11]:
    for d in range(1,31):
        for h in range(1,25):
            date_list2013.append(f"2013-{m:0>2}-{d:0>2} {h:0>2}")

for m in [2]:
    for d in range(1,29):
        for h in range(1,25):
            date_list2013.append(f"2013-{m:0>2}-{d:0>2} {h:0>2}")

date_list2013.sort()
date_list2013[:10]

['2012-12-24 24',
 '2013-01-01 01',
 '2013-01-01 02',
 '2013-01-01 03',
 '2013-01-01 04',
 '2013-01-01 05',
 '2013-01-01 06',
 '2013-01-01 07',
 '2013-01-01 08',
 '2013-01-01 09']

In [199]:
date_list2013[-10:]

['2013-12-31 15',
 '2013-12-31 16',
 '2013-12-31 17',
 '2013-12-31 18',
 '2013-12-31 19',
 '2013-12-31 20',
 '2013-12-31 21',
 '2013-12-31 22',
 '2013-12-31 23',
 '2013-12-31 24']

In [200]:
len(date_list2013)

8761

### 2013, 2014, 2015, 2017, 2018년 날짜 리스트 만들기
* 2016년은 윤년

In [201]:
date_list = []
for y in [13, 14, 15, 17, 18]:
    for m in [1,3,5,7,8,10,12]:
        for d in range(1,32):
            for h in range(1,25):
                date_list.append(f"20{y:0>2}-{m:0>2}-{d:0>2} {h:0>2}")

    for m in [4,6,9,11]:
        for d in range(1,31):
            for h in range(1,25):
                date_list.append(f"20{y:0>2}-{m:0>2}-{d:0>2} {h:0>2}")

    for m in [2]:
        for d in range(1,29):
            for h in range(1,25):
                date_list.append(f"20{y:0>2}-{m:0>2}-{d:0>2} {h:0>2}")

for y in [16]:
    for m in [1,3,5,7,8,10,12]:
        for d in range(1,32):
            for h in range(1,25):
                date_list.append(f"20{y:0>2}-{m:0>2}-{d:0>2} {h:0>2}")

for m in [4,6,9,11]:
    for d in range(1,31):
        for h in range(1,25):
            date_list.append(f"20{y:0>2}-{m:0>2}-{d:0>2} {h:0>2}")

for m in [2]:
    for d in range(1,30):
        for h in range(1,25):
            date_list.append(f"20{y:0>2}-{m:0>2}-{d:0>2} {h:0>2}")

date_list.sort()

In [202]:
date_list[:10]

['2013-01-01 01',
 '2013-01-01 02',
 '2013-01-01 03',
 '2013-01-01 04',
 '2013-01-01 05',
 '2013-01-01 06',
 '2013-01-01 07',
 '2013-01-01 08',
 '2013-01-01 09',
 '2013-01-01 10']

In [203]:
date_list[-10:]

['2018-12-31 15',
 '2018-12-31 16',
 '2018-12-31 17',
 '2018-12-31 18',
 '2018-12-31 19',
 '2018-12-31 20',
 '2018-12-31 21',
 '2018-12-31 22',
 '2018-12-31 23',
 '2018-12-31 24']

In [204]:
len(date_list)

52584

## 2013~2018년 기온 데이터 합치기

In [205]:
# 결측치
# 기온 : 4+1 = 5
# 습도 : 4+17 = 21
# 현지기압 : 2+5 = 7

In [206]:
total_temp = pd.concat([raw_temp2013[1:], raw_temp2014, raw_temp2015, raw_temp2016, raw_temp2017, raw_temp2018, raw_temp2019[:1]])

In [207]:
total_temp.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
1,108,2013-01-01 01:00,-8.5,NaN,4.0,50.0,57.0,1.8,-15.5,1010.0,...,NaN,NaN,NaN,NaN,NaN,-3.4,-2.9,-1.6,-0.5,0.3
2,108,2013-01-01 02:00,-8.4,NaN,4.0,70.0,60.0,2.0,-14.7,1009.4,...,NaN,NaN,NaN,NaN,NaN,-3.4,-3.0,-1.6,-0.5,0.4
3,108,2013-01-01 03:00,-8.1,NaN,3.4,70.0,58.0,1.9,-14.9,1009.2,...,Ac,35.0,2000.0,13.0,NaN,-3.4,-3.0,-1.6,-0.5,0.3
4,108,2013-01-01 04:00,-8.2,NaN,3.8,70.0,58.0,1.9,-15.0,1008.2,...,Ac,35.0,2000.0,NaN,NaN,-3.4,-2.9,-1.7,-0.5,0.3
5,108,2013-01-01 05:00,-8.2,NaN,4.4,70.0,61.0,2.0,-14.4,1007.3,...,ScAs,10.0,1000.0,NaN,5.0,-3.3,-2.9,-1.7,-0.5,0.3

In [208]:
total_temp.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 52584 entries, 1 to 0
Data columns (total 27 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   지점             52584 non-null  int64
 1   일시             52584 non-null  object
 2   기온(°C)         52579 non-null  float64
 3   강수량(mm)        4944 non-null   float64
 4   풍속(m/s)        52538 non-null  float64
 5   풍향(16방위)       52538 non-null  float64
 6   습도(%)          52563 non-null  float64
 7   증기압(hPa)       52572 non-null  float64
 8   이슬점온도(°C)      52572 non-null  float64
 9   현지기압(hPa)      52577 non-null  float64
 10  해면기압(hPa)      52580 non-null  float64
 11  일조(hr)         28716 non-null  float64
 12  일사(MJ/m2)      28529 non-null  float64
 13  적설(cm)         2394 non-null   float64
 14  3시간신적설(cm)     153 non-null    float64
 15  전운량(10분위)      41808 non-null  float64
 16  중하층운량(10분위)    45458 non-null  float64
 17  운형(운형약어)       29442 non-null  object
 18  최저운고(100m )    25026 non-null  float64
 19  시정(10m)        48239 non-null  float64
 20  지면상태(지면상태코드)   5116 non-null   float64
 21  현상번호(국내식)      18860 non-null  float64
 22  지면온도(°C)       52530 non-null  float64
 23  5cm 지중온도(°C)   52527 non-null  float64
 24  10cm 지중온도(°C)  52533 non-null  float64
 25  20cm 지중온도(°C)  52513 non-null  float64
 26  30cm 지중온도(°C)  52448 non-null  float64
dtypes: float64(24), int64(1), object(2)
memory usage: 11.2+ MB

In [209]:
# 결측치
# 기온 : 4+1 = 5
# 습도 : 4+17 = 21
# 현지기압 : 2+5 = 7
# 년도별 결측치 개수 합과 동일

In [210]:
len(date_list)
# 샘플 개수와 날짜 길이 동일

52584

In [211]:
total_temp.tail()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
8756,108,2018-12-31 20:00,-3.7,NaN,0.8,340.0,39.0,1.8,-15.6,1024.9,...,NaN,41.0,1765.0,NaN,NaN,-3.0,-1.1,-0.4,0.0,0.9
8757,108,2018-12-31 21:00,-4.6,NaN,1.1,290.0,44.0,1.9,-15.0,1024.8,...,NaN,NaN,1658.0,NaN,NaN,-4.1,-1.8,-0.6,0.0,1.0
8758,108,2018-12-31 22:00,-5.4,NaN,1.3,270.0,46.0,1.9,-15.2,1024.4,...,NaN,NaN,1694.0,NaN,NaN,-5.0,-2.5,-0.7,0.0,1.0
8759,108,2018-12-31 23:00,-5.2,NaN,1.6,320.0,47.0,2.0,-14.7,1024.6,...,NaN,NaN,1514.0,NaN,NaN,-5.1,-3.0,-0.9,0.0,0.9
0,108,2019-01-01 00:00,-5.5,NaN,1.0,290.0,54.0,2.2,-13.3,1024.1,...,NaN,NaN,1573.0,NaN,NaN,-6.0,-3.4,-1.1,0.0,1.0

In [212]:
mod_total_temp = total_temp.copy()

In [213]:
# 일시 수정
mod_total_temp['일시'] = date_list

In [214]:
mod_total_temp.head()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
1,108,2013-01-01 01,-8.5,NaN,4.0,50.0,57.0,1.8,-15.5,1010.0,...,NaN,NaN,NaN,NaN,NaN,-3.4,-2.9,-1.6,-0.5,0.3
2,108,2013-01-01 02,-8.4,NaN,4.0,70.0,60.0,2.0,-14.7,1009.4,...,NaN,NaN,NaN,NaN,NaN,-3.4,-3.0,-1.6,-0.5,0.4
3,108,2013-01-01 03,-8.1,NaN,3.4,70.0,58.0,1.9,-14.9,1009.2,...,Ac,35.0,2000.0,13.0,NaN,-3.4,-3.0,-1.6,-0.5,0.3
4,108,2013-01-01 04,-8.2,NaN,3.8,70.0,58.0,1.9,-15.0,1008.2,...,Ac,35.0,2000.0,NaN,NaN,-3.4,-2.9,-1.7,-0.5,0.3
5,108,2013-01-01 05,-8.2,NaN,4.4,70.0,61.0,2.0,-14.4,1007.3,...,ScAs,10.0,1000.0,NaN,5.0,-3.3,-2.9,-1.7,-0.5,0.3

In [215]:
mod_total_temp.tail()

,지점,일시,기온(°C),강수량(mm),풍속(m/s),풍향(16방위),습도(%),증기압(hPa),이슬점온도(°C),현지기압(hPa),...,운형(운형약어),최저운고(100m ),시정(10m),지면상태(지면상태코드),현상번호(국내식),지면온도(°C),5cm 지중온도(°C),10cm 지중온도(°C),20cm 지중온도(°C),30cm 지중온도(°C)
8756,108,2018-12-31 20,-3.7,NaN,0.8,340.0,39.0,1.8,-15.6,1024.9,...,NaN,41.0,1765.0,NaN,NaN,-3.0,-1.1,-0.4,0.0,0.9
8757,108,2018-12-31 21,-4.6,NaN,1.1,290.0,44.0,1.9,-15.0,1024.8,...,NaN,NaN,1658.0,NaN,NaN,-4.1,-1.8,-0.6,0.0,1.0
8758,108,2018-12-31 22,-5.4,NaN,1.3,270.0,46.0,1.9,-15.2,1024.4,...,NaN,NaN,1694.0,NaN,NaN,-5.0,-2.5,-0.7,0.0,1.0
8759,108,2018-12-31 23,-5.2,NaN,1.6,320.0,47.0,2.0,-14.7,1024.6,...,NaN,NaN,1514.0,NaN,NaN,-5.1,-3.0,-0.9,0.0,0.9
0,108,2018-12-31 24,-5.5,NaN,1.0,290.0,54.0,2.2,-13.3,1024.1,...,NaN,NaN,1573.0,NaN,NaN,-6.0,-3.4,-1.1,0.0,1.0

In [216]:
# csv 파일로 출력
mod_total_temp.to_csv('2013-2018년_기상청기온자료01.csv', encoding='utf-8', index=False)