In [1]:
import pandas as pd

In [10]:
bike = pd.read_csv('공공자전거 이용정보(2020년 전월).csv', encoding='cp949')
bike.head()

,대여일자,대여소번호,대여소명,대여구분코드,성별,연령대코드,이용건수,운동량,탄소량,이동거리,...,총 이용건수,AGE_001,AGE_002,AGE_003,AGE_004,AGE_005,AGE_006,AGE_007,AGE_008,AGE_009
0,20-Jan,3.0,중랑센터,일일(회원),M,AGE_003,3.0,61.82,0.52,2230.0,...,794162.0,28787.0,326277.0,187520.0,127519.0,79939.0,23260.0,5060.0,15800.0,0.0
1,20-Jan,3.0,중랑센터,일일(회원),M,AGE_004,1.0,39.62,0.28,1220.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20-Jan,3.0,중랑센터,정기,M,AGE_005,3.0,430.85,4.01,17270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20-Jan,5.0,상암센터 정비실,일일(회원),\N,AGE_005,2.0,1.79,0.02,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20-Jan,5.0,상암센터 정비실,정기,F,AGE_003,1.0,4501.96,45.47,196010.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
bike['성별'].unique()

array(['M', '\\N', 'F', nan, 'm', 'f'], dtype=object)

In [12]:
bike['성별'] = bike['성별'].map({'m':'M','f':"F"})
bike['성별'].unique()

array([nan, 'M', 'F'], dtype=object)